*,
*::after,
*::before {
    padding: none;
    ;
    box-sizing: border-box;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    /* font-weight: 600; */
    color: black;
}