<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- <link rel="stylesheet" href="home.css"> -->
</head>

<body>
    <header id="header">
        <div class="header_container">
            <a routerLink="/home">
                <h1>Katz Blog</h1>
            </a>
            <div class="header_menu">
                <ul>
                    <li>
                        <a routerLink="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="post_container">
            <a routerLink="/post">
                <div class="post">
                    <div class="post_title">
                        <p class="author">Author</p>
                        <h2>Sample Header</h2>
                    </div>
                    <div class="post_excerpt">
                        <h4>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae dolorem
                            consectetur vero alias.
                        </h4>
                    </div>
                    <div class="post_content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque officia magni neque
                            doloremque
                            impedit at. Aperiam, consequuntur optio porro voluptatibus neque esse reiciendis. Obcaecati
                            natus quo ea, eos vitae adipisci.
                        </p>
                    </div>
                </div>
            </a>
            <a routerLink="/post">
                <div class="post">
                    <div class="post_title">
                        <p class="author">Author</p>
                        <h2>Sample Header</h2>
                    </div>
                    <div class="post_excerpt">
                        <h4>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae dolorem
                            consectetur vero alias.
                        </h4>
                    </div>
                    <div class="post_content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque officia magni neque
                            doloremque
                            impedit at. Aperiam, consequuntur optio porro voluptatibus neque esse reiciendis. Obcaecati
                            natus quo ea, eos vitae adipisci.
                        </p>
                    </div>
                </div>
            </a>
            <a routerLink="/post">
                <div class="post">
                    <div class="post_title">
                        <p class="author">Author</p>
                        <h2>Sample Header</h2>
                    </div>
                    <div class="post_excerpt">
                        <h4>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae dolorem
                            consectetur vero alias.
                        </h4>
                    </div>
                    <div class="post_content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque officia magni neque
                            doloremque
                            impedit at. Aperiam, consequuntur optio porro voluptatibus neque esse reiciendis. Obcaecati
                            natus quo ea, eos vitae adipisci.
                        </p>
                    </div>
                </div>
            </a>
            <a routerLink="/post">
                <div class="post">
                    <div class="post_title">
                        <p class="author">Author</p>
                        <h2>Sample Header</h2>
                    </div>
                    <div class="post_excerpt">
                        <h4>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae dolorem
                            consectetur vero alias.
                        </h4>
                    </div>
                    <div class="post_content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque officia magni neque
                            doloremque
                            impedit at. Aperiam, consequuntur optio porro voluptatibus neque esse reiciendis. Obcaecati
                            natus quo ea, eos vitae adipisci.
                        </p>
                    </div>
                </div>
            </a>
            <a routerLink="/post">
                <div class="post">
                    <div class="post_title">
                        <p class="author">Author</p>
                        <h2>Sample Header</h2>
                    </div>
                    <div class="post_excerpt">
                        <h4>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae dolorem
                            consectetur vero alias.
                        </h4>
                    </div>
                    <div class="post_content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque officia magni neque
                            doloremque
                            impedit at. Aperiam, consequuntur optio porro voluptatibus neque esse reiciendis. Obcaecati
                            natus quo ea, eos vitae adipisci.
                        </p>
                    </div>
                </div>
            </a>
            <a routerLink="/post">
                <div class="post">
                    <div class="post_title">
                        <p class="author">Author</p>
                        <h2>Sample Header</h2>
                    </div>
                    <div class="post_excerpt">
                        <h4>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae dolorem
                            consectetur vero alias.
                        </h4>
                    </div>
                    <div class="post_content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque officia magni neque
                            doloremque
                            impedit at. Aperiam, consequuntur optio porro voluptatibus neque esse reiciendis. Obcaecati
                            natus quo ea, eos vitae adipisci.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </main>
    <footer id="footer">
        <div class="footer_container">
            <div class="footer_copyright">
                <p>@Katziio</p>
            </div>
            <div class="socialMedia">
                <ul>
                    <li><a href="https://www.linkedin.com/in/vignesh-m-145002254">linkedin</a></li>
                    <li><a href="https://github.com/Vigneshkatz/KatzBookingApp">github</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>