#header .header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .footer_container {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}


#footer .socialMedia ul {
    display: flex;
    gap: 1rem;
    list-style: none;

}

#footer .socialMedia ul a{
    color: black;
    font-weight: 600;
}

/* user posts  home page*/
.post_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    height: 100%;
    width: 100%;

}

.post {
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 1rem;
    height: 17rem;
    padding: 0.25rem 1rem;
    width: 16.5rem;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.post:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.post > * {
    
    margin: 0.5rem 0;
    text-overflow: ellipsis;

}

.post .author,.post_content p{
    color: #6a6a6a;
}

.post .post_title, .post_excerpt {
    border-bottom: 2px solid rgba(135, 135, 135, 0.695);
    padding-bottom: 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

