#main {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login_container .form_header{
    margin:1rem auto;
    width: fit-content;
}

#header .header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_container .login_form{
    margin: auto;
    border: 2px solid rgb(118, 118, 118);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    padding: 1rem;
    height: 25rem;
    border-radius: 0.35rem;

}

.login_form input[type="email"],
input[type="password"]{
    border: 1px solid grey;
    border-radius: 0.25rem;
    height: 2.5rem;
    width: 20rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.login_form input[type="submit"]
{
    height: 2.5rem;
    width: 8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;

}