*,
*::after,
*::before {
    padding: none;
    ;
    box-sizing: border-box;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}

#header {
    height: 10vh;
    padding: 1rem;
    border-bottom: 2px solid grey;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#main {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user_registration_container .form_header {
    margin: 1rem auto;
    width: fit-content;
}

.user_registration_container .user_registration_form {
    margin: auto;
    border: 2px solid rgb(118, 118, 118);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    padding: 1rem;
    height: 25rem;
    border-radius: 0.35rem;

}

.user_registration_form input[type="email"],
input[type="password"],
input[type="text"] {
    border: 1px solid grey;
    border-radius: 0.25rem;
    height: 2.5rem;
    width: 20rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.user_registration_form input[type="submit"] {
    height: 2.5rem;
    width: 8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;

}

#footer .footer_container {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#footer .socialMedia ul {
    display: flex;
    gap: 1rem;
    list-style: none;

}

#footer .socialMedia ul a {
    color: black;
    font-weight: 500;
}