<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Posts</title>
    <!-- <link rel="stylesheet" href="userRegistration.css"> -->
</head>

<body>
    <header id="header">
        <div class="header_container">
            <div class="header_title">
                <a routerLink="/home">
                    <h1>Katz Blog</h1>
                </a>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="add_post_container">
            <h2 class="form_header">Add New Post</h2>
            <form class="add_post_form" (ngSubmit)="onSubmit(postForm)">
                <label for="postTitle">Enter Title</label>
                <input type="text" id="postTitle" name="title" placeholder="Enter Post Title" required
                    [(ngModel)]="postForm.title">

                <label for="postSummary">Enter Summary</label>
                <input type="text" id="postSummary" name="summary" placeholder="Enter Post Summary" required
                    [(ngModel)]="postForm.excerpt">

                <label for="postContent">Enter Content</label>
                <textarea id="postContent" name="content" placeholder="Enter Post Content" rows="6" required
                    [(ngModel)]="postForm.content"></textarea>

                <label for="postAuthor">Enter Author Name</label>
                <input type="text" id="postAuthor" name="author" placeholder="Enter Author Name" required
                    [(ngModel)]="postForm.author">

                <button type="submit">Add Post</button>
            </form>
        </div>
    </main>
    <footer id="footer">
        <div class="footer_container">
            <div class="footer_copyright">
                <p>@Katziio</p>
            </div>
            <div class="socialMedia">
                <ul>
                    <li><a href="https://www.linkedin.com/in/vignesh-m-145002254">linkedin</a></li>
                    <li><a href="https://github.com/Vigneshkatz/KatzBookingApp">github</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>