<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
</head>

<body>
    <header id="header">
        <div class="header_container">
            <a routerLink="/home">
                <h1>Katz Blog</h1>
            </a>
        </div>
        <div class="add_posts">
            <a routerLink="/addPost">Add Post</a>
        </div>
    </header>

    <main id="main">
        <div class="post_detail_container">
            <div class="post_header">
                <div class="post_title">
                    <h2>{{post?.title}}</h2>
                </div>
                <div class="post_author">
                    <span class="author">
                        <p>{{post?.author}}</p>
                    </span>
                </div>
            </div>
            <div class="post?_excerpt">
                <p>{{post.excerpt}}</p>
            </div>
            <div class="post?_content">
                {{post.excerpt}}
            </div>
        </div>

        <div class="comments">
            <div class="comment_header">
                <h3>Comments</h3>
                <div class="add_comment">
                    <a routerLink="/addComment">Add Comment</a>
                </div>
            </div>
            <div class="conmment_container">
                <div class="comment" *ngFor="let comment of post?.comments">
                    <div class="comment_author">
                        {{comment.name}}
                    </div>
                    <div class="comment_email">
                        <p>{{comment.email}}</p>
                    </div>
                    <div class="comment_content">
                        <p>{{comment.comment}}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer">
        <div class="footer_container">
            <div class="footer_copyright">
                <p>@Katziio</p>
            </div>
            <div class="socialMedia">
                <ul>
                    <li><a href="https://www.linkedin.com/in/vignesh-m-145002254">linkedin</a></li>
                    <li><a href="https://github.com/Vigneshkatz/KatzBookingApp">github</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>