<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostDetail</title>
    <link rel="stylesheet" href="postDetail.css">
</head>

<body>
    <header id="header">
        <div class="header_container">
            <div class="header_title">
                <h1>Katz Blog</h1>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="post_detail_container">
            <div class="post_header">
                <div class="post_title">
                    <h2>Sample Post title</h2>
                </div>
                <div class="post_author">
                    <span class="author">
                        <p>
                            Author
                        </p>
                    </span>
                </div>
            </div>
            <div class="post_excerpt">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius provident, voluptatem non debitis
                consequatur, architecto. </div>
            <div class="post_content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet obcaecati iusto doloribus quis quo neque
                ea optio voluptas! Eius earum sunt fugiat tempore ratione qui aspernatur, vel officia corporis nisi!
            </div>
            <div class="comments">
                <div class="comment_header">
                    <h3>
                        Comments
                    </h3>
                    <div class="add_comment">
                        <a href="#">Add Comment</a>
                    </div>
                </div>
                <div class="conmment_container">
                    <div class="comment">
                        <div class="comment_author">
                            Vigneshkatz
                        </div>
                        <div class="comment_email">
                            <p>
                                vignesh000129@gmail
                            </p>
                        </div>
                        <div class="comment_content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="footer_container">
            <div class="footer_copyright">
                <p>@Katziio</p>
            </div>
            <div class="socialMedia">
                <ul>
                    <li><a href="https://www.linkedin.com/in/vignesh-m-145002254">linkedin</a></li>
                    <li><a href="https://github.com/Vigneshkatz/KatzBookingApp">github</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>